<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script src="../static/Project.js"></script>
    <title>3000 meter run </title>
</head>
<body>
    <div class="bg-image">
        <img src="../Track" alt="">
    </div>
    <div class="menu return">
        <a href="../views/Menu.html">
        <button class="return">menu</button></a>
        </div>
</body>
</html>