<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script src="../static/Project.js"></script>
    <title>The Dips</title>
</head>
<body>
    <div class="header">
        <h1>Dips</h1>
    </div>

    <div class="description">
        <h2>
            A dip is an upper-body strength exercise. Narrow, shoulder-width 
            dips mainly trains the triceps, with major synergists being the 
            anterior deltoid, the pectoralis muscles, and the rhomboid muscles of the back. 
            Wide arm training places additional emphasis on the pectoral muscles, similar in respect 
            to the way a wide grip bench press would focus more on the pectorals and less on the triceps
            <br>
            <br>
            do a 50% of your max set for 5 sets
            <br>
            goal - 12 Dips
        </h2>

        <button type="submit">
            completed!
        </button>
    </div>

    <div class="image" id="dips-img">
        <img src="../images/Dips.jpg" alt="" height="400px">
    </div>
    
    <div class="menu return">
        <a href="../views/Menu-Beginners.html">
        <button class="return">Beginner</button></a>
        </div>
</body>
</html>