<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script src="../static/Project.js"></script>
    <title>Third step</title>
</head>
<body>

    <div class="header">
        <h1>straddle Front-lever</h1>
    </div>

    <div class="container" id="straddle">
        
        <div class="image" id="straddleF-img">
            <img src="../images/straddle-lever.png" alt="" height="350px" width="500px">
        </div>

        <div class="description">
            <h2>
                The straddle front lever is typically the last progression before 
                a full front lever. In the straddle position you will fully extend through 
                your hips and straddle the legs. The wider of a straddle you can create, 
                the easier this position will be. As you work toward a full front lever, you will 
                gradually bring the legs closer together
                <br>
                preform 5 sets of max hold
                <br>
                goal - hold full front for 5 Second
            </h2>

            <button type="submit">
                completed!
            </button>
            <br>
            <br>
            <a href="F.L-level-2.html">
                <button>go back</button>
            </a>
        </div>

        <div class="menu return">
            <a href="../views/Menu-Advanced.html">
            <button class="return">Advanced</button></a>
            </div>

    </div>
</body>
</html>