<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script src="../static/Project.js"></script>
    <title>The Front-lever</title>
</head>
<body>
    <div class="header">
        <h1>Front-lever</h1>
    </div>

    <div class="container">
    <div class="image">
        <img src="../static/Front-lever.webp" alt="" height="350px">
    </div>

    <div class="description">
        <h2>
            The front lever is a gymnastic and calisthenic move - a static hold normally 
            performed on the still rings or the pull-up bar. 
            A front lever is performed by lowering from an inverted hang until the body 
            is completely horizontal and straight with the front of the body facing upwards. 
            An accomplished gymnast may also pull directly into the horizontal position from a dead hang. 
            Front levers require a high degree of back and core strength.
        </h2>
        <a href="../views/F.L-level-1.html">
            <button>Lets start</button>
        </a>

       

    </div>

    <div class="menu return">
        <a href="../views/Menu-Advanced.html">
        <button class="return">Advanced</button></a>
        </div>
        
    </div>
</body>
</html>