<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script src="../static/Project.js"></script>
    <title>The handstand</title>
</head>
<body>
    <div class="header">
        <h1>Handstand</h1>
    </div>

    <div class="container">
    <div class="description">
        <h2>
            A handstand is the act of supporting the body in a stable, inverted 
            vertical position by balancing on the hands. In a basic handstand, the body 
            is held straight with arms and legs fully extended, with hands spaced approximately
            shoulder-width apart and the legs together. There are many variations of handstands,
            all of which require the performer to possess adequate balance and upper body strength.
        </h2>

        <a href="HS-level-1.html">
            <button>Lets start</button>
        </a>
    </div>

    <div class="image">
        <img src="../images/Handstand.webp" alt="" height="350px">
    </div>
    
    <div class="menu return">
        <a href="../views/Menu-Intermediate.html">
        <button class="return">Intermediate</button></a>
        </div>
    </div>
</body>
</html>