<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script defer src="../static/Project.js"></script>
    <title>Home-Page</title>
</head>
<body>

    <div class="topnav">
        <a class="topnav" href="../views/Home-page.html">Home</a>
        <a class="topnav" href="../views/Sign-up.html">Sign-up</a>
        <a class="topnav" href="../views/log-in.html">Log-in</a>
        <a class="topnav" href="../views/Skills-status.html">Skill status</a>
        <a class="topnav" href="../views/Log-out.html" class="split">Log-out</a>
      </div>

    <div class="bg-image" id="homepage">
        <img src="../static/HomePage.webp" alt="">
    </div>

    <div class="bg-text">
     <h1>Street-Workout and Calsthenics</h1>
     <h3>WORK SMART</h3>
     <a href="../views/Menu.html">
     <button class="smallbutton" id="SBstart" onclick="">Lets start</button>
    </a>
    </div>
    
</body>
</html>