<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script src="../static/Project.js"></script>
    <title>wall handstand</title>
</head>
<body>

    <div class="header">
        <h1>
            wall handstand
        </h1>
    </div>

    <div class="container">

        <div class="image" id="wallHS-img">
            <img src="../images/wallHS.webp" alt="" height="350px">
        </div>

        <div class="description" id="HS-level-1">
            <h2>
                A wall handstand is basically a handstand facing to the wall. 
                For wall handstands, begin by performing 2–3 sets 
                of 15–60 second holds. Choose your sets and length 
                of holds based on your ability to maintain good technique throughout each set
                <br>
                <br>
                goal - hold the wall assisted handstand for 60 seconds
            </h2>
            <a href="HS-level-2.html">
                <button>continue the progress</button>
            </a>
            <br>
            <br>
            <a href="Handstand.html">
                <button>go back</button>
            </a>
        </div>

        <div class="menu return">
            <a href="../views/Menu-Intermediate.html">
            <button class="return">Intermediate</button></a>
            </div>
        </div>
    </div>
    
</body>
</html>