<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script src="../static/Project.js"></script>
    <title>handstand hold</title>
</head>
<body>

    <div class="header">
        <h1>
            handstand hold
        </h1>
    </div>

    <div class="container">

        <div class="image" id="HSholds-img">
            <img src="../images/HSholds.webp" alt="" height="350px">
        </div>

        <div class="description" id="HS-level-2">
            <h2>
                in this level of the progression you will need to kick the wall to full handstand. try to hold the posission for as long as you can, and come back to the wall.
                preform this drill for one minute, take a 2 minutes rest between sets and do it again. 5 times per without.
                <br>
                <br>
                goal - hold the handstand for 15 seconds
            </h2>
            <button type="submit">
                completed!
            </button>
            <br>
            <br>
            <a href="HS-level-1.html">
                <button>go back</button>
            </a>
        </div>

        <div class="menu return">
            <a href="../views/Menu-Intermediate.html">
            <button class="return">Intermediate</button></a>
            </div>
        </div>
    </div>
    
</body>
</html>