<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script defer src="../static/Project.js"></script>
    <title>Log-in</title>
</head>
<body>

    <div class="topnav">
        <a class="topnav" href="../views/Home-page.html">Home</a>
        <a class="topnav" href="../views/Sign-up.html">Sign-up</a>
        <a class="topnav" href="../views/log-in.html">Log-in</a>
        <a class="topnav" href="../views/Skills-status.html">Skill status</a>
        <a class="topnav" href="../views/Log-out.html" class="split">Log-out</a>
      </div>

      <div class="containersignup">
        
        <dive>
            <div class="section1">
            <h1>Log-in</h1>
            <h3>Welcome back !</h3>
            <form action="" method="get">
             <div>
                <p><label for="userNmae">User Name</label></p>
                <input class="userName" type="text" id="userName" autocomplete="off" >
             </div>
             
             <div>
                <p><label for="password">Password</label></p>
                <input class="passward" type="password" id="password" required >
             </div>
             <button type="submit" id="btn">Log-in Now</button>
            </form>

            <div> 
               <h6>Faced a problem? Connect With US streetWorkout@gmail.com </h6>
               <div><i></i></div>
               <div><i></i></div>
               <div><i></i></i></div>
            </div>

        </div>
        </dive>
        
        <div class="section2"> 
            <img src="../images/Loginimg.jfif" alt="signupimg" height="400px">
        </div>
    </div>

    
</body>
</html>