<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script src="../static/Project.js"></script>
    <title>Menu</title>
</head>
<body>

    <div class="bg-image">
        <img src="../static/HomePage.webp" alt="">
    </div>

    <div class="header">
        <h1>
            What is Your level ?
        </h1>
    </div>

<div class="menuCon"></div>

    <div class="bar" id="Beginners">
    <a href="../views/Menu-Beginners.html">
    <button class="button Beginner">Beginner</button></a>
    </div>
    <div class="bar" id="Intermediate">
        <a href="../views/Menu-Intermediate.html">
        <button class="button Intermediate">Intermediate</button></a>
        </div>
    <div class="bar" id="Advanced">
    <a href="../views/Menu-Advanced.html">
    <button class="button Advanced">Advanced</button></a>
    </div>

</div>
    <div class="Home-Page return">
    <a href="../views/Home-page.html">
    <button class="smallbutton" id="SBhomepage">Home-Page</button></a>
    </div>
</body>
</html>