<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script src="../static/Project.js"></script>
    <title>Menu</title>
</head>
<body>
    <div class="bg-image">
        <img src="../static/HomePage.webp" alt="">
    </div>
    <div class="header">
        <h1>
            ? איזה תרגיל מעניין אותך 
        </h1>
    </div>

    <div class="bar" id="Push-ups">
    <a href="../views/Push-ups.html">
    <button class="button Push-ups">Push-ups</button></a>
    </div>

    <div class="bar" id="pull-ups">
    <a href="../views/Pull-ups.html">
    <button class="button pull-ups">Pull-ups</button></a>
    </div>

    <div class="bar" id="dips">
    <a href="../views/Dips.html">
    <button class="button dips">Dips</button></a>
    </div>

    <div class="bar" id="Squat">
    <a href="../views/Squat.html">
    <button class="button Squat">Squat</button></a>
    </div>

    <div class="Home-Page return">
    <a href="../views/Menu.html">
    <button class="smallbutton" id="YL">Your level</button></a>
    </div>

</body>
</html>