<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script src="../static/Project.js"></script>
    <title>Menu</title>
</head>
<body>
    <div class="bg-image">
        <img src="../static/HomePage.webp" alt="">
    </div>
    <div class="header">
        <h1>
            ? איזה תרגיל מעניין אותך 
        </h1>
    </div>
    <div class="bar" id="Pistol-squat">
    <a href="../views/Pistol-squat.html">
    <button class="button Pistol-squat">Pistol-squat</button></a>
    </div>

    <div class="bar" id="Muscle-up">
    <a href="../views/Muscle-up.html">
    <button class="button Muscle-up">Muscle-up</button></a>
    </div>
    <div class="bar" id="Handstand">
    <a href="../views/Handstand.html">
    <button class="button Handstand">Handstand</button></a>
    </div>
    <div class="Home-Page return">
        <a href="../views/Menu.html">
        <button class="smallbutton" id="YL">Your level</button></a>
        </div>
</body>
</html>