<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script src="../static/Project.js"></script>
    <title>high pull-up</title>
</head>
<body>
    <div class="header">
        <h1>high pull-up</h1>
    </div>
    
    <div class="container">
    <div class="image" id="highpullup-img">
        <img src="../images/highpullup.jpg" alt="" height="350px" width="500px">
    </div>

    <div class="description" id="highpullup">
        <h2>
            The High Pull Up or Chest to Bar is a very useful exercise 
            for improving your pulling power. The exercise consists on performing 
            a regular pull up but instead of just passing the chin over the bar 
            we need to reach as high as we can. The objective should be to 
            pull until the bar is right under your chest.
            <br>
            <br>
            preform 5 sets of 40% of your max set
            <br>
            goal - 10 high pull-ups
        </h2>

        <a href="MS-level-2.html">
            <button>continue the progress</button>
        </a>
        <br>
        <br>
        <a href="Muscle-up.html">
            <button>go back</button>
        </a>

    </div>

    </div>

    <div class="menu return">
        <a href="../views/Menu-Intermediate.html">
        <button class="return">Intermediate</button></a>
        </div>
    
</body>
</html>