<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script src="../static/Project.js"></script>
    <title>Muscle-up with band</title>
</head>
<body>
    <div class="header">
        <h1>using resistance bands</h1>
    </div>
    
    <div class="container">
    <div class="image" id="resistancebands-img">
        <img src="../images/MSband.webp" alt="" height="350px" width="400px">
    </div>

    <div class="description" id="resistancebands">
        <h2>
            Exercise resistance bands are a valuable training for muscle up training as 
            they allow for natural progressions in strength and bodyweight training variability. 
            You can combine muscle-up assist bands to offer more help when needed, such as when 
            your muscles begin to fatigue. Alternatively, you can use a lighter exercise bands 
            as your strength increases and you need less assistance.
            <br>
            <br>
            preform 5 sets of 1-5 muscle-ups with resistance
            <br>
            goal - 1 Muscle-up without bands
        </h2>

        <button type="submit">
            completed!
        </button>
        <br>
        <br>
        <a href="MS-level-1.html">
            <button>go back</button>
        </a>

    </div>

    </div>

    <div class="menu return">
        <a href="../views/Menu-Intermediate.html">
        <button class="return">Intermediate</button></a>
        </div>
    
</body>
</html>