<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script src="../static/Project.js"></script>
    <title>The Muscle-up</title>
</head>
<body>
    <div class="header">
        <h1>Muscle-up</h1>
    </div>
    
    <div class="container">
    <div class="image" id="muscleup-img">
        <img src="../images/muscleup.jpg" alt="" height="350px" width="500px">
    </div>

    <div class="description">
        <h2>
            The muscle-up is an advanced strength training exercise, within 
            the domain of calisthenics. It is a combination routine of a radial 
            pull-up followed by a dip. Variations exist for the rings as well as the bar.
            The muscle-up begins with the arms extended above the head, gripping a hold 
            in the overhand pull-up position. The hold is usually on a chin-up bar or gymnastic rings.
        </h2>

        <a href="MS-level-1.html">
            <button>Lets start</button>
        </a>
    </div>

    </div>

    <div class="menu return">
        <a href="../views/Menu-Intermediate.html">
        <button class="return">Intermediate</button></a>
        </div>
    
</body>
</html>