<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script src="../static/Project.js"></script>
    <title>Pistol-squat</title>
</head>
<body>
    <div class="header">
        <h1>Pistol-squat</h1>
    </div>

    <div class="container">
    <div class="description">
        <h2>
            The "pistol", or "single-legged squat" is a progression of the standard squat 
            where the squat is performed using only one leg. It can be done with or without weights, 
            in conjunction with a jump onto a plyo box, while holding a kettlebell or dumbbell out 
            in front, or from the floor out of a "rock". However, this exercise can put a lot of pressure 
            on the knee. Not recommended for anyone with knee problems.
        </h2>

        <a href="PS-level-1.html">
            <button>Lets start</button>
        </a>
    </div>

    </div>

    <div class="image">
        <img src="../images/pistol-squat.jpg" alt="" height="350px">
    </div>

    <div class="menu return">
        <a href="../views/Menu-Intermediate.html">
        <button class="return">Intermediate</button></a>
        </div>
    </div>
    
</body>
</html>