<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script src="../static/Project.js"></script>
    <title>straddle plance</title>
</head>
<body>
        <div class="header">
            <h1>
                straddle Plance
            </h1>
        </div>

    <div class="container" id="ADtuckPL">

        <div class="image" id="Straddleplance">
            <img src="../images/straddle-planche.jpg" alt="" height="350px" width="">
        </div>

        <div class="description" id="fullplanche" itemid="destuckPL">
            <h2>
                The straddle planche is a characteristic element of male artistic 
                gymnastics. Over time, this element would be imported into calisthenics 
                training. The Straddle planche is an exercise of great complexity, since 
                you must hold your entire body horizontally and in the air using mainly the 
                strength of the arms and your core.
                <br>
                do a max hold for 5 times
                <br>
                goal - hold the full planche for 3 seconds 
            </h2>

            <button type="submit">
                completed!
            </button>
            <br>
            <br>
            <a href="PL-level-2.html">
                <button>go back</button>
            </a>
        </div>

    </div>

    <div class="menu return">
        <a href="../views/Menu-Advanced.html">
        <button class="return">Advanced</button></a>
    </div>
</body>
</html>