<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script src="../static/Project.js"></script>
    <title>Tuck plance</title>
</head>
<body>
        <div class="header">
            <h1>
                Tuck Plance
            </h1>
        </div>

    <div class="container" id="tuckPL">

        <div class="image" id="tuckplance">
            <img src="../images/tuck-plance.webp" alt="" height="350px" width="">
        </div>

        <div class="description" id="fullplanche" itemid="destuckPL">
            <h2>
                The first progression exercise will be the Tucked Hold. Place your 
                hands on the ground, or on parallettes, and lift yourself up. It 
                is very important to depress your shoulders. This means that you 
                have to create some space between your shoulders and neck when pushing 
                into the ground or parallettes. The next step is to tuck your knees in and push yourself up
                <br>
                do a max hold for 6 times
                <br>
                goal - hold the tuck planche for 30 seconds 
            </h2>

            <a href="PL-level-2.html">
                <button>continue the progress</button>
            </a>
            <br>
            <br>
            <a href="Planche.html">
                <button>go back</button>
            </a>
        </div>

    </div>

    <div class="menu return">
        <a href="../views/Menu-Advanced.html">
        <button class="return">Advanced</button></a>
    </div>
</body>
</html>