<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script src="../static/Project.js"></script>
    <title>Rhe Planche </title>
</head>
<body>
    <div class="header">
        <h1>Planche</h1>
    </div>

    <div class="image" id="plancheimg">
        <img src="../images/planche.jpg" alt="" height="350px" width="550px">
    </div>

    <div class="description" id="fullplanche">
        <h2>
        A planche is a skill in gymnastics and calisthenics in which
        the body is held parallel to the ground, while being supported
        above the floor by straight arms. It is a move that requires
        significant strength and balance
    </h2>

    <a href="../views/PL-level-1.html">
        <button>Lets start</button>
    </a>

    </div>

    <div class="menu return">
        <a href="../views/Menu-Advanced.html">
        <button class="return">Advanced</button></a>
        </div>
</body>
</html>