<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script src="../static/Project.js"></script>
    <title>The Push-ups</title>
</head>
<body>

    <div class="header">
        <h1>Push-ups</h1>
    </div>

    <div class="container">
    <div class="description">
        <h2>
            The push-up is a common calisthenics exercise beginning from the
            prone position. By raising and lowering the body using the arms, push-ups 
            exercise the Triceps, Shoulders and the chest Muscles. Push-ups are a basic 
            exercise used in civilian athletic training or physical education and 
            commonly in military physical training.
            <br>
            <br>
            do a 50% of your max set for 5 sets
            <br>
            goal - 20 push-ups
        </h2>

        <button type="submit">
            completed!
        </button>
    </div>

    <div class="image">
        <img src="../images/push-up.jpg" alt="" height="300px">
    </div>

    <div class="menu return">
        <a href="../views/Menu-Beginners.html">
        <button class="return">Beginner</button></a>
        </div>
    </div>
</body>
</html>