<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=SS, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script defer src="../static/Project.js"></script>
    <title>Sign-up</title>
</head>
<body>

    <div class="topnav">
        <a class="topnav" href="../views/Home-page.html">Home</a>
        <a class="topnav" href="../views/Sign-up.html">Sign-up</a>
        <a class="topnav" href="../views/log-in.html">Log-in</a>
        <a class="topnav" href="../views/Skills-status.html">Skill status</a>
        <a class="topnav" href="../views/Log-out.html" class="split">Log-out</a>
      </div>

    <div class="containersignup">
        
        <dive>
            <div class="section1">
            <h1>Sign Up</h1>
            <h5>Welcome to our - sport world</h5>
            <form action="" method="get">
             <div>
                <p><label for="userNmae">User Name</label></p>
                <input class="userName" type="text" id="userName" autocomplete="off" >
             </div>
             <div>
                <p><label for="email">Email Address</label></p>
                <input class="email" type="email" id="email" name="email" required autocomplete="off">
             </div>
             <div>
                <p><label for="password">Password</label></p>
                <input class="passward" type="password" id="password" required >
             </div>
             <button type="submit" id="btn">Sign Up Now</button>
             <p>Already a member? <a href="../views/log-in.html">Log in</a></p>
            </form>

            <div> 
               <h6>Or Connect With US streetWorkout@gmail.com </h6>
               <div><i></i></div>
               <div><i></i></div>
               <div><i></i></i></div>
            </div>

        </div>
        </dive>
        
        <div class="section2"> 
            <img src="../images/newsignup.jpg" alt="signupimg" height="400px">
        </div>
    </div>
</body>
</html>
    
</body>
</html>