<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=SS, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script defer src="../static/Project.js"></script>
    <title>Skills-status</title>
</head>
<body>

    <div class="topnav">
        <a class="topnav" href="../views/Home-page.html">Home</a>
        <a class="topnav" href="../views/Sign-up.html">Sign-up</a>
        <a class="topnav" href="../views/log-in.html">Log-in</a>
        <a class="topnav" href="../views/Skills-status.html">Skill status</a>
        <a class="topnav" href="../views/Log-out.html" class="split">Log-out</a>
      </div>

      <div class="bg-image" id="homepage">
        <img src="../static/HomePage.webp" alt="">
    </div>

    <div class="skillsHeader" id="skills">
        <h1>
            Skills-status
        </h1>
    </div>

    <div class="skillcon">
        <div class="checkbox" id="SQTcheck">Squat</div>
        <div class="checkbox" id="PULcheck">Pull up</div>
        <div class="checkbox" id="PUScheck">Push ups</div>
        <div class="checkbox" id="DIPcheck">Dips</div>
        <div class="checkbox" id="PScheck">Pistol squat</div>
        <div class="checkbox" id="HScheck">Handstand</div>
        <div class="checkbox" id="MUcheck">Muscle up</div>
        <div class="checkbox" id="PLcheck">Planche</div>
        <div class="checkbox" id="FLcheck">Front lever</div>
    </div>
    
</body>
</html>