doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=SS, initial-scale=1.0')
  link(rel='stylesheet' href='/Style.css')
  script(defer='' src='../static/Project.js')
  title Skills-status
.topnav
  a.topnav(href='/Home-page') Home
  a.topnav(href='/Sign-up') Sign-up
  a.topnav(href='/log-in') Log-in
  a.topnav(href='/Skills-status') Skill status
#skills.skillsHeader
  h1
    | Skills-status
.skillcon
  #PULcheck.checkbox Pull up
  #PUScheck.checkbox Push ups
  #DIPcheck.checkbox Dips
  #PScheck.checkbox Pistol squat
  #HScheck.checkbox Handstand
  #MUcheck.checkbox Muscle up
  #PLcheck.checkbox Planche
  #FLcheck.checkbox Front lever
  #BLcheck.checkbox Back lever