<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script src="../static/Project.js"></script>
    <title>The Squat</title>
</head>
<body>

    <div class="header">
        <h1>Squat</h1>
    </div>

    <div class="container">
    <div class="description">
        <h2>
            A squat is a strength exercise in which the trainee lowers their hips
            from a standing position and then stands back up. During the descent of a squat, 
            the hip and knee joints flex while the ankle joint dorsiflexes
            <br>
            <br>
            do a 50% of your max set for 10 sets
            <br>
            goal - 40 squats
        </h2>

        <button type="submit">
            completed!
        </button>
    </div>

    <div class="image">
        <img src="../images/squat.jpg" alt="" height="400px">
    </div>
    <div class="menu return">
        <a href="../views/Menu-Beginners.html">
        <button class="return">Beginner</button></a>
        </div>
    </div>
    
</body>
</html>