<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style.css">
    <script src="../static/Project.js"></script>
    <title>Third step</title>
</head>
<body>

    <div class="header">
        <h1>stradle Front-lever</h1>
    </div>

    <div class="container" id="test">
        <div class="one">
            1
        </div>
        <div class="two">
            2
        </div>
        <div class="three">
            <div class="menu return">
                <a href="../views/Menu-Advanced.html">
                <button class="return">Advanced</button></a>
                </div>
            </div>
            3
        </div>
    </div> 
    
</body>
</html>